h1 {
    color: white;
}

h2 {
	color: orange;
}

h3{
	color: white;
}

#header {
    background-color:black;
    text-align:center;
    padding:5px;
}

div.nav {
	background-color:red;
	float:left;
	padding: 10px;
	font-family: Impact, Charcoal, sans-serif;

}


#section {
	color:white;
	float: left;
	margin: 10px;
	display: block;
	padding: 10px;

}


 pre {
	align: left;
	align: left;
	color: white;
}

table, th, td {

    border: 1px solid black;
	font-size: 12pt;
}
html { 
  background: url(photos/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

table{
    border: 1px solid black;
	font-size: 12pt;
}

th{
	color: yellow;
	background-color: blue;
	font-size: 14pt;
}

td{

	font-size: 12pt;
}



