h1 {
    color: white;
}

h2 {
	color: orange;
}

#header {
    background-color:black;
    text-align:center;
    padding:5px;
}

#nav {
	background-color:#eeeeee;
	float:left;
	padding: 10px;

}

#section {
	float: left;
	margin: 10px;
	display: block;
	padding: 10px;

}


 pre {
	align: left;
	align: left;
}

#container {
	text-align:center;
	vertical-align: middle;
	width: 100%;
    height: 80%;
    border: 3px solid #73AD21;

}

#fotter{
	float: left;
}

#animate {
  width: 80%;
  height: 100px;
  left: 100px;
  color: white;
  font-size: 1px;
  position: absolute;
  background-color: Black;
  vertical-align: bottom;
}


#imgA{
position: absolute;
		left: 500px;
		top: 200px;
		z-index: 1;
}

#imgB{

		position: absolute;
		left: 600px;
		top: 100px;
		z-index: 2;
	
}

#footer{
height: 300px;
width: 100%;
border: 3px solid black;
}

#container1 {
	position: relative; height: 800px; width:100%;
    border: 3px solid #73AD21;
	z-index: 1;

}

#animateA{
	height: 150px;
	width: 200px;
	background-color: red;
	z-index: 1;
	left: 250;
	bottom: 500;
	position:absolute;
}

#animateH{
	height: 150px;
	width: 200px;
	background-color: teal;
	z-index: 1;
	left: 250;
	bottom: 350;
	position:absolute;
}

#animateB{
	height: 150px;
	width: 200px;
	background-color: blue;
	z-index: 1;
	left: 250;
	bottom: 650;
	position:absolute;
}

#animateC{
	height: 150px;
	width: 200px;
	background-color: yellow;
	z-index: 1;
	left: 450;
	bottom: 650;
	position:absolute;
}

#animateD{
	height: 150px;
	width: 200px;
	background-color: orange;
	z-index: 1;
	left: 650;
	bottom: 650;
	position:absolute;
}

#animateE{
	height: 150px;
	width: 200px;
	background-color: purple;
	z-index: 1;
	left: 650;
	bottom: 500;
	position:absolute;
}

#animateF{
	height: 150px;
	width: 200px;
	background-color: gold;
	z-index: 1;
	left: 650;
	bottom: 350;
	position:absolute;
}

#animateG{
	height: 150px;
	width: 200px;
	background-color: pink;
	z-index: 1;
	left: 450;
	bottom: 350;
	position:absolute;
}



#slotMachine{
	height: 400px;
	width: 400px;
	background-color: black;
	z-index: -1;
	left: 150px;
	bottom: 300px;
	position: absolute;

}

#coverA{
	height: 200px;
	width: 300px;
	background-color: green;
	z-index: 2;
	left: 150px;
	bottom: 300px;
	position: absolute;

}

#coverB{
	height: 400px;
	width: 100px;
	background-color: green;
	z-index: 2;
	left: 150px;
	bottom: 300px;
	position: absolute;

}

#coverC{
	height: 400px;
	width: 100px;
	background-color: green;
	z-index: 2;
	left: 450px;
	bottom: 300px;
	position: absolute;

}

#coverD{
	height: 150px;
	width: 400px;
	background-color: green;
	z-index: 2;
	left: 150px;
	bottom: 650px;
	position: absolute;
	text-align: center;
	font-size: 20px;

}

